
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scroll-behavior: smooth;

  --bg-color: rgb(246, 243, 243);
  --text-color: black;
  --scrollbar-track: rgb(222, 222, 222);
  --scrollbar-thumb: rgb(100, 100, 100);
}

.dark {
  --bg-color: rgb(30, 34, 43);
  --text-color: white;
  --scrollbar-track: rgb(41, 44, 49);
  --scrollbar-thumb: rgb(85, 85, 85);
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(rgb(160, 160, 160));
}


a {
  font-weight: 600;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

